
server/venv/
__pycache__/
*.pyc
.env
node_modules/
backend/GameHaven/serviceAccountKey.json
.env
backend/.env
frontend/.env
*.env

backend/GameHaven/serviceAccountKey.json
serviceAccountKey.json

__pycache__/
*.pyc
*.pyo
venv/
backend/venv/
db.sqlite3
backend/db.sqlite3
.env
*.env
backend/GameHaven/serviceAccountKey.json